<div id="homesection1">
    <div>
    <app-nav></app-nav>
    <div>
        <div>
            <p class="digital">
                Digitize And <br />
                Manage Your <br />
                <span>CO-OPERATIVE</span>
            </p>
            <p class="account">
                Create A Free Account Now And Experience the benefits<br />
                of digital savings and loans .
            </p>
            <p>
                <button>Get Started</button><span>Learn More</span>
            </p>
            <p>
                Join this businesses in digitizing 
            </p>
            <br />
            <p>
                <img src="../../assets/zera.svg" />
                <img src="../../assets/partner2.svg" />
                <img src="../../assets/partner3.svg" />
                <img src="../../assets/partner4.svg" />
                <img src="../../assets/partner5.svg" />
                <img src="../../assets/partner6.svg" />
            </p>
        </div>
        <div>
            <img src="../../assets/homesection1img.png" [class]="image1" (mouseenter)="hoverEffect(1)" (mouseleave)="hoverEffect(2)"/>
            <img src="../../assets/VARIANT 4 1.png" [class]="image2" (mouseenter)="hoverEffect(2)" (mouseleave)="hoverEffect(3)"/>
            <img src="../../assets/VARIANT 4 1.svg" [class]="image3" (mouseenter)="hoverEffect(3)" (mouseleave)="hoverEffect(1)"/>
        </div>
    </div>
    </div>
</div>
<div id="homesection2">
    <div class="partner1">
        <div>
            <img src="../../assets/photo1.png" />
        </div>
        <div>
            <p>
                No more stressful paper work
            </p>
            <p>
                Join hundreds of cooperative across Nigeria who have already transformed thier savings and loans
                system with our plaform. Sign up now and experience the benefits of digital savings and loans .
            </p>
            <div class="check">
                <img src="../../assets/check.svg" />
                <div>
                    Say goodbye to manual recording and complex paper work, and say hello to an efficient, transparent and a secure way of managing your savings and loan.
                </div>
            </div>
            <div class="check">
                <img src="../../assets/check.svg" />
                <div>
                    Transform your organisation savings and loan system with our easy to use, digital platform
                </div>
            </div>
            <div class="check">
                <img src="../../assets/check.svg" />
                <div>
                    Our platform allows you to easily track your contribution, manage loan disbursements and repayment, and monitor your groups financial health.
                </div>
            </div>
            <div>
                <button>
                    Get Started
                </button>
                <span>
                    Talk To Us Directly
                </span>
            </div>
        </div>
    </div>
    <div class="partner2">
        <div>
            <p>Still wondering why you should partner with us ?</p>
            <div class="check">
                <img src="../../assets/check.svg" />
                <div>
                    <p>Expand your current operations</p>
                    <p>Our solution allows you to operate in multiple locations, ensuring you expand beyond communities you presently serve.</p>
                </div>
            </div>
            <div class="check">
                <img src="../../assets/check.svg" />
                <div>
                    <p>Provide reliable service like a bank</p>
                    <p>With our parnerships and technology, we can help you provide services like a proper financial institution or a fintech providing automated solutions and services</p>
                </div>
            </div>
            <div class="check">
                <img src="../../assets/check.svg" />
                <div>
                    <p>Our community</p>
                    <p>We are building a reliable community where cooperatives, businesses, merchants work together to ensure mutual goals and economic benefits are achieved collectively</p>
                </div>
            </div>
            <button>
                Get Started
            </button>
        </div>
        <div>
            <img src="../../assets/photo2.png" />
        </div>
    </div>
</div>
<div id="homesection3">
    <div id="homesect">
        <p>
            Trusted by thousands <br />
            of organisation
        </p>
        <p>
            Our company has earned the trust of numerous organisations thanks to our reliable and efficient software solution .
        </p>
        <div>
            <div>
                <img src="../../assets/kiosk.svg" />
                <p>
                Asusu Kiosk
                </p>
                <p>
                    Asusu Kiosk is a small and standalone structure, that provides information, goods services to the public.
                </p>
                <button>LEARN MORE <img src="../../assets/arrow-right.svg" /></button>
            </div>
            <div>
                <img src="../../assets/disburse.svg" />
                <p>
                    Asusu Kiosk
                </p>
                <p>
                    Asusu Kiosk is a small and standalone structure, that provides information, goods services to the public.
                </p>
                <button>LEARN MORE <img src="../../assets/arrow-right.svg" /></button>
            </div>
            <div>
                <img src="../../assets/management.svg" />
                <p>
                    Asusu Kiosk
                </p>
                <p>
                    Asusu Kiosk is a small and standalone structure, that provides information, goods services to the public.
                </p>
                <button>LEARN MORE <img src="../../assets/arrow-right.svg" /></button>
            </div>
        </div>
    </div>
</div>